@import '../../index';
.Recipes--Container{
    display: flex;
    flex-direction: column;
    margin: 12px;
    .Recipes__topSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
      .name{
        font-family: $font-tag__cursive;
        color: $color-head;
        font-size: 1.5rem;
        text-align: left;
        width: 250px;
           @media screen and (max-width:460px) {
                font-size: 1.2rem;
             }
              @media screen and (max-width:425px) {
                width: 125px;
             }
              @media screen and (max-width:305px) {
                 width: 100px;
             }
      }
      .price{
        color: $color-text;
        font-family: $font-head;
         @media screen and (max-width:460px) {
                font-size: 12px;
             }
      }
        .line{
            width: 6rem;
            height: 1px;
           background-color: $color-head; 
              @media screen and (max-width:460px) {
                font-size: 0.5px;
             }
              @media screen and (max-width:350px) {
                width: 3rem;
             }
           
        }
    }
    .ingredients{
      padding: 8px 0;
        color: $color-text;
        font-size: 1rem;
        
        word-wrap: break-word;
        font-family: $font-text;
           @media screen and (max-width:460px) {
                font-size: 0.8rem;
                max-width: 150px;
             }
      }
}
