@import "../../index";
.Insta--ImgContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .photo {
    transition: all 0.35s;
    cursor: pointer;
    img {
      width: 301px;
      height: 447px;
      border: 1px solid $color-head;
      z-index: -1;
      @media screen and (max-width:1300px) {
        flex-direction: column;
        width: 250px;
      height: 350px;
    }
    }
  }
  .logo {
    img {
      width: 44px;
      z-index: 1;
      position: relative;
      top: -250px;
      display: none;
    }
  }
  .photo:hover {
    opacity: 0.7;
  }
}
