@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=La+Belle+Aurore&family=Martel:wght@400;600;700&family=Work+Sans:ital,wght@0,300;1,300&display=swap");
.Restaurant--Header__Container {
  display: flex;
  flex-direction: row;
  margin: 6rem 4rem;
  align-items: center;
  padding: 2rem;
  justify-content: space-evenly;
}
@media screen and (max-width: 1500px) {
  .Restaurant--Header__Container {
    margin: 6rem 0;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1350px) {
  .Restaurant--Header__Container {
    margin: 4rem 0;
    padding: 0;
  }
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .Restaurant--Header__Container {
    margin: 4rem 2rem;
    padding: 0;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0.5;
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section {
    justify-content: center;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title .Restaurants-Header__left--Section--sub__tag {
  font-size: 24px;
  line-height: 24px;
  font-family: "Cormorant Upright", serif;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.35s;
}
@media screen and (max-width: 1280px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title .Restaurants-Header__left--Section--sub__tag {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title .Restaurants-Header__left--Section--sub__tag {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title .Restaurants-Header__left--Section--sub__tag {
    font-size: 18px;
    line-height: 18px;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title .Restaurants-Header__left--Section--sub__tag:hover {
  color: #99aa64;
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__upper--sub__title img {
  width: 40px;
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__heading {
  font-family: "Cormorant Upright", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130px;
  color: #fada82;
}
@media screen and (max-width: 1330px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__heading {
    font-size: 60px;
    line-height: 90px;
  }
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__heading {
    font-size: 90px;
    line-height: 130px;
  }
}
@media screen and (max-width: 480px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__heading {
    font-size: 60px;
    line-height: 70px;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__para {
  font-family: "Work Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  max-width: 500px;
  /* or 28px */
  letter-spacing: 0.04em;
}
@media screen and (max-width: 1330px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__para {
    font-size: 13px;
  }
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__para {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__para {
    font-size: 13px;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__btn {
  border: none;
  background-color: #fada82;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 0;
  color: black;
  font-family: "Cormorant Upright", serif;
  width: 200px;
  cursor: pointer;
  transition: all 0.45s;
}
@media screen and (max-width: 1330px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__btn {
    padding: 0.7rem 1rem;
    width: 150px;
  }
}
@media screen and (max-width: 1015px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__btn {
    padding: 1rem;
    width: 150px;
  }
}
@media screen and (max-width: 480px) {
  .Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__btn {
    padding: 0.5rem;
    font-size: 14px;
    width: 100px;
  }
}
.Restaurant--Header__Container .Restaurants-Header__left--Section .Restaurants-Header__left--Section__midText .midText__btn:hover {
  color: #fada82;
  background-color: black;
}
.Restaurant--Header__Container .Restaurants-Header__right--Section {
  max-width: 30rem;
}
.Restaurant--Header__Container .Restaurants-Header__right--Section img {
  flex: 1.5;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=header.css.map */