@import "../../index";

.Restaurant--navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  .Restaurant--navbar__logo {
    font-family: $font-head;
    color: $color-head;
    font-size: 2rem;
    flex: 1;
  }
  .Restaurant--navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $color-text;
        font-family: $font-text;
        list-style-type: none;
        cursor: pointer;
        font: 16px;
        line-height: 24px;
        font-weight: 500;
        transition: all 0.35s;
      }
    }
    a:hover {
      color: $color-head;
    }
    @media screen and (max-width: 1045px) {
      display: none;
    }
  }
  .Restaurant--navbar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex: 1;
    .Restaurant--navbar__button--SignUp {
      padding: 8px 14px;
      border: none;
      border: 1px solid $color-contrast;
      color: $color-text;
      border-radius: 12px;
      font-family: $font-text;
      line-height: 24px;
      font-size: 15px;
      font-weight: 600;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.45s;
    }
    .Restaurant--navbar__button--SignUp:hover {
      background-color: $color-contrast;
    }
    .Restaurant--navbar__button--Slash {
      color: $color-text;
      font-size: 2rem;
      font-family: $font-text;
    }
    .Restaurant--navbar__button--SignIn {
      padding: 8px 14px;
      border: none;
      border: 1px solid $color-subtext;
      color: $color-text;
      border-radius: 12px;
      font-family: $font-text;
      line-height: 24px;
      font-size: 15px;
      font-weight: 600;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.45s;
    }
    .Restaurant--navbar__button--SignIn:hover {
      background-color: $color-subtext;
    }
    @media screen and (max-width: 1045px) {
      display: none;
    }
  }
  .Restaurant--navbar__Hamburger {
    .iconMenu {
      cursor: pointer;
      color: white;
    }
    @media screen and (min-width: 1045px) {
      display: none;
    }
  }
}

.Restaurant--navbar__MobileMenu {
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: $color-footer;

  box-shadow: 1px 0px 52px -18px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 1px 0px 52px -18px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 1px 0px 52px -18px rgba(0, 0, 0, 0.79);
  padding: 2rem;
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  gap: 1rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    li {
      color: $color-text;
      font-family: $font-text;
      list-style-type: none;
      cursor: pointer;
      font: 18px;
      line-height: 24px;
      font-weight: 600;
      transition: all 0.35s;
    }
    li:hover {
      color: $color-head;
    }
  }
  .Restaurant--navbar__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
    .Restaurant--navbar__button--SignUp {
      padding: 8px 14px;
      border: none;
      border: 1px solid $color-contrast;
      color: $color-text;
      border-radius: 12px;
      font-family: $font-text;
      line-height: 24px;
      font-size: 15px;
      font-weight: 600;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.45s;
    }
    .Restaurant--navbar__button--SignUp:hover {
      background-color: $color-contrast;
    }
    .Restaurant--navbar__button--Slash {
      color: $color-text;
      font-size: 2rem;
      font-family: $font-text;
    }
    .Restaurant--navbar__button--SignIn {
      padding: 8px 14px;
      border: none;
      border: 1px solid $color-subtext;
      color: $color-text;
      border-radius: 12px;
      font-family: $font-text;
      line-height: 24px;
      font-size: 15px;
      font-weight: 600;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.45s;
    }
    .Restaurant--navbar__button--SignIn:hover {
      background-color: $color-subtext;
    }
  }
  @media screen and (min-width: 1045px) {
    display: none;
  }
}
.expanded {
  display: none;
}
