
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=La+Belle+Aurore&family=Martel:wght@400;600;700&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
// font-family: 'La Belle Aurore', cursive;

// font-family: 'Martel', serif;

// font-family: 'Work Sans', sans-serif;

//font-family: 'Cormorant Upright', serif;
  $font-head: 'Martel', serif;
  $font-text:'Work Sans', sans-serif;
  $font-tag__cursive:'Cormorant Upright', serif;

  $padding_section:2rem;
  $margin_section:6rem 4rem;

  $gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  $gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  $color-bg: #201f1f;
  $color-footer: #363636;
  $color-head: #fada82;
  $color-text: #fff;
  
  $color-highlight: #99aa64;
  $color-contrast:#266568;
  $color-subtext: #ff8a71;

